h2 {
    color: white;
    text-align: center;
}

.content {
    padding: 10px;
}

#form {
    margin-top: 30px;
}

.bj-submit, .bj-input {
    background: rgba(0,0,0,.3);
    border: 0;
    transition: .2s;
    box-shadow: 0 0 20px transparent;
    margin: 5px;
    padding: 14px;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 7px;

}

.bj-submit {
    cursor: pointer;
}

.bj-submit:hover {
    color: rgba(255, 255, 255, .5);
}

.bj-play {
    cursor: default;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    background: rgba(0,0,0,.2);
    border: 10px solid rgba(0,0,0,.2);
    z-index: 1;
    border-radius: 400px;
    position: relative;
}

@media ( max-width: 1080px ) {
    .bj-play {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 20px;
    }
}

.bj-table-icon {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    fill: #FFB300;
    opacity: .2;
    border-radius: 50%;
    border: 15px solid black;
    padding: 30px;
    overflow: visible;
    pointer-events: none;
}

@media ( max-width: 1080px ) {
    .bj-table-icon {
        width: 40%;
    }
}

@media ( max-width: 580px ) {
    .bj-table-icon {
        width: 70%;
    }
}

.bj-label {
    margin: 5px auto;
    width: 150px;
    font-weight: bold;
    padding: 5px 0;
    background: white;
    border-radius: 20px;
}

.bj-play > span {
    color: white;
    font-size: 14px;
}

.bj-play-cards {
    margin: 20px auto;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.bj-card {
    width: 60px;
    height: 90px;
    border-radius: 5px;
    border: 5px solid white;
    background-position: center;
    background-image: url("/assets/cards/card_back.png");
    margin: 5px;
}

.bj-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.bj-buttons > div {
    width: 120px;
    position: relative;
    top: 0;
    margin: 5px;
    border-radius: 10px;
    background: white;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 10px rgba(255,255,255,.2);
    transition: .2s;
}

.bj-buttons > div:hover {
    top: 10px;
    box-shadow: 0 0 rgba(255,255,255,.2);
}

@media ( max-width: 630px ) {
    .bj-play-cards {
        margin: 0;
        margin-bottom: 15px;
    }
    .bj-card {
        transform: scale(.9);
        margin: 0;
    }
    .bj-buttons > div {
        padding: 10px;
        margin: 5px;
        font-size: 14px;
        width: 100px;
    }
}

#bjScoreBubble {
    z-index: 8;
    padding: 30px 50px;
    background: white;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.bj-small-label {
    opacity: .7;
    font-size: 14px;
    font-weight: normal;
}

#form {
    transition: .2s;
}