@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #131b3d;
}

::selection {
    background: #FFB300;
    color: black;
    text-shadow: .2rem .2rem rgba(0,0,0,.3);
}

::-moz-selection {
    background: #FFB300;
    color: black;
    text-shadow: .2rem .2rem rgba(0,0,0,.3);
}

a {
    color: white;
    transition: .2s;
}

a:hover {
    text-decoration: underline #FFB300;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.container {
    width: 100%;
    height: 100%;
}

.noselect, br, #popup {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.auto-width {
    width: 1080px;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.header-left {
    padding: 20px 30px;
    color: white;
    font-weight: bolder;
}

.header-left > a {
    text-decoration: none;
}

.header-icon {
    height: 14px;
    fill: white;
}

.header-left {
    position: relative;
    width: 20%;
}

.header-left::after {
    content: '';
    position: relative;
    z-index: -1;
    top: 0;
    left: -80px;
    border-radius: 50%;
    padding: 5px 18px;
    background: rgb(125,66,172);
    background: -moz-linear-gradient(47deg, rgba(125,66,172,1) 0%, rgba(64,228,255,1) 100%);
    background: -webkit-linear-gradient(47deg, rgba(125,66,172,1) 0%, rgba(64,228,255,1) 100%);
    background: linear-gradient(47deg, rgba(125,66,172,1) 0%, rgba(64,228,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d42ac",endColorstr="#40e4ff",GradientType=1);
    box-shadow: 0 0 10px rgba(125,66,172,.7);
}

.header > div > div {
    float: left;
}

.header-center {
    width: 50%;
}

.header-center > *, .header-right > div {
    float: left;
    padding: 23px 30px;
    text-decoration: none;
    transition: .2s;
    box-shadow: inset 0 5px 20px -5px transparent;
    color: #d2d4d6;
    opacity: .8;
    fill: #d2d4d6;
    position: relative;
}

.header-center > *:hover {
    text-decoration: none;
}

.header-center > a > svg, .header-right > div > svg {
    height: 14px;
    position: relative;
    top: 2px;
    padding-right: 3px;
}

.header-center > *:hover {
    opacity: 1;
}

.header-center > *:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    padding: 1px;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    background: rgb(71,10,191);
    background: -moz-linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    background: linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#470abf",endColorstr="#680ab9",GradientType=1);
}

.header-center, .header-right {
    font-size: 14px;
    float: right;
    text-align: right;
}

.header-right {
    float: right;
    text-align: right;
    width: 30%;
}

.header-right > div {
    float: right;
    opacity: 1 !important;
}

.header-balance-svg {
    fill: #96b2fe;
    filter: drop-shadow(0 0 3px #96b2fe);
}

.header-line {
    border-left: 1px solid rgba(255, 255, 255, .05);
}

#userLoggedIn {
    display: none;
    cursor: pointer;
    transition: .2s;
}

#userLoggedIn:hover > * {
    color: white;
}

#userGuest {
    padding: 22px 10px 22px 0;
    font-size: 14px;
}

.register {
    border: 1px solid #FFB300;
    padding: 10px 16px;
    margin-left: 20px;
    transition: .2s;
    text-decoration: none;
}

.register:hover {
    padding: 10px 18px;
    text-decoration: none;
}

.header-avatar {
    border-radius: 50%;
    transform: scale(2);
    margin-right: 15px;
}

.roulette-last {
    width: 100%;
    margin: 22px 0;   
    text-align: center;
    font-weight: bold;
    color: #d2d4d6;
    font-size: 14px;
}

.coinGold {
    padding-left: 10px;
    color: #FFB300;
    
}

.bgGold {
    background: #FFB300;
}

.coinCyan {
    padding-left: 10px;
    color: #00AAFF;
}

.bgCyan {
    background: #00AAFF;
}

.coinPurple {
    padding-left: 10px;
    color: #D500FF;
}

.bgPurple {
    background: #D500FF;
}

.roulette {
    transition: 10s cubic-bezier(.28,.35,.29,1);
    position: relative;
    margin: 20px 0;
    background: url(../assets/roulette_long.png);
    width: 100%;
    height: 128px;
    box-shadow: inset 120px 0 70px -50px #131b3d,
                inset -120px 0 70px -50px #131b3d;
    background-position-x: calc(50% + 128px);
}

.roulette::after {
    position: absolute;
    content: '';
    top: 0;
    padding: 64px 1px;
    left: 50%;
    background: #FFB300;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 20px;
}

#timer-div {
    transition: .2s;
}

.roulette-wait {
    transition: .2s;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    color: #d2d4d6;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(19, 27, 61, .6);
    z-index: 10;
}

.roulette-wait > span {
    font-size: 64px;
}

.roulette-bet {
    width: 100%;
    margin: 0 auto;
}

.bet-input-parent {
    width: 100%;
}

.bet-input {
    width: 800px;
    margin: 30px auto 20px;
    background: #172044;
    display: flex;
    border: 1px solid rgba(255, 255, 255, .05);
    padding-right: 7px;
    transition: .2s;
    box-shadow: 0 0 20px transparent;
}

.bet-input:hover, .bet-input:active {
    box-shadow: 0 0 20px rgba(255, 255, 255, .05);
}

.bet-input > svg {
    height: 14px;
    margin: 14px 17px;
    float: left;
}

.bet-input > span {
    outline: none;
    border: 0;
    background: rgba(255, 255, 255, .05);
    color: rgba(255, 255, 255, .2);
    cursor: pointer;
    margin: 7px 0 7px 7px;
    width: 50px;
    transition: .2s;
    transform: scale(1);
    display: flex;
    justify-content: center;
    padding-top: 4px;
}

.bet-input > span:hover {
    background: rgb(71,10,191);
    background: -moz-linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    background: linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#470abf",endColorstr="#680ab9",GradientType=1);
}

.bet-input > span:active {
    transform: scale(1.1);
}

#bet-value {
    padding: 12px 18px;
    color: #d2d4d6;
    font-size: 14px;
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, .05);
    border-right: 2px solid rgba(255, 255, 255, .05);
    background: transparent;
    float: left;
    margin: 0 auto;
    outline: none;
    width: 300px;
}

.bet-div {
    width: 33.33%;
    float: left;
    padding: 10px;
}

.bet-div-button {
    position: relative;
    padding: 20px 25px;
    width: 100%;
    cursor: pointer;
    color: #d2d4d6;
    transition: .2s;
    transform: scale(1);
}

.bet-div-button:hover {
    transform: scale(1.01);
}

.bet-div-button > div > img {
    position: relative;
    top: 2px;
}

.bet-div-button > div > span {
    font-size: 20px;
    position: relative;
    top: -6px;
    font-weight: bold;
    margin-left: 10px;
}

.bet-div-button > .fr {
    position: relative;
    top: 1px;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
}

.bet-purple {
    border: 1px solid rgb(213,0,255);
    background: rgb(213,0,255);
    background: -moz-linear-gradient(90deg, rgba(213,0,255,0.1) 0%, rgba(213,0,255,0.35) 100%);
    background: -webkit-linear-gradient(90deg, rgba(213,0,255,0.1) 0%, rgba(213,0,255,0.35) 100%);
    background: linear-gradient(90deg, rgba(213,0,255,0.1) 0%, rgba(213,0,255,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d500ff",endColorstr="#d500ff",GradientType=1);
}

.bet-gold {
    border: 1px solid rgb(255,179,0);
    background: rgb(255,179,0);
    background: -moz-linear-gradient(90deg, rgba(255,179,0,0.1) 0%, rgba(255,179,0,0.35) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,179,0,0.1) 0%, rgba(255,179,0,0.35) 100%);
    background: linear-gradient(90deg, rgba(255,179,0,0.1) 0%, rgba(255,179,0,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb300",endColorstr="#ffb300",GradientType=1);
}

.bet-cyan {
    border: 1px solid rgb(0,170,255);
    background: rgb(0,170,255);
    background: -moz-linear-gradient(90deg, rgba(0,170,255,0.1) 0%, rgba(0,170,255,0.35) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,170,255,0.1) 0%, rgba(0,170,255,0.35) 100%);
    background: linear-gradient(90deg, rgba(0,170,255,0.1) 0%, rgba(0,170,255,0.35) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00aaff",endColorstr="#00aaff",GradientType=1);
}

.bet-div-count {
    margin-top: 20px;
    width: 100%;
    padding: 10px 10px 5px;
    background: #202b4e;
    float: left;
    color: #d2d4d6;
}

.bet-div-count > div > img, .bet-div-count > div > svg {
    height: 20px;
}

.bet-div-count > div > span {
    font-size: 14px;
    top: -5px;
    margin-left: 5px;
    position: relative;
}

.bet-div-bets {
    overflow: hidden;
    height: 235px;
    background: #1a2547;
    width: 100%;
    padding: 10px;
    float: left;
    color:rgba(255, 255, 255, .5);
    border: 1px solid transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}

.bet-div-bets > div {
    width: 100%;
    padding: 6px;
    font-size: 14px;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.fl {
    float: left;
}

.fr {
    float: right;
    text-align: right;
}

#popup {
    display: none;
    color: white;
    z-index: 9;
    padding: 20px;
    background: rgb(71,10,191);
    background: -moz-linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    background: linear-gradient(90deg, rgba(71,10,191,1) 0%, rgba(104,10,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#470abf",endColorstr="#680ab9",GradientType=1);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

#popup-exit {
    opacity: .7;
    cursor: pointer;
    float: right;
    transition: .2s;
}

#popup-exit:hover {
    opacity: 1;
}

#sync-screen {
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, .2);
    z-index: 99;
    font-weight: 900;
    cursor: default;
    color: #d2d4d6;
}

#sync-screen > div > span {
    font-size: 37px;
    color: white;
}

#sync-screen > div > img {
    animation: loader 2s infinite;
    perspective: -300px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

@keyframes loader {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media ( max-width: 1080px ) {
    .auto-width {
        width: 100%;
    }

    .header-right {
        width: 320px;
    }

    .header-left {
        width: 200px;
    }

    .header-center {
        width: calc(100% - 320px - 200px);
    }
}

@media ( max-width: 1040px ) {
    .header-center {
        font-size: 0;
    }
}

@media ( max-width: 830px ) {
    #sync-screen > div > span {
        font-size: 20px;
    }

    #sync-screen {
        font-size: 12px;
    }

    .bet-input-parent {
        width: 100%;
        padding: 0 10px;
    }
    
    .bet-input {
        text-align: center;
        width: 100%;
        background: transparent;
        display: block;
        float: left;
        border: 0;
        transition: .2s;
        box-shadow: 0 0 20px transparent;
    }
    
    .bet-input:hover, .bet-input:active {
        box-shadow: none;
    }
    
    .bet-input > svg {
        display: none;
    }

    #bet-value {
        position: relative;
        width: 100%;
        background: #172044;
        transition: .2s;
        border: 1px solid rgba(255, 255, 255, .05);
    }

    #bet-value:hover, #bet-value:active {
        box-shadow: 0 0 20px rgba(255, 255, 255, .05);
    }
    
    .bet-input > span {
        float: left;
        padding: 12px;
        width: 12.5%;
        margin: 5px 0;
        border: 5px solid #131b3d;
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05);
        background: #172044;
    }

    .bet-div-count, .bet-div-bets {
        display: none;
    }

    .bet-div-button {
        display: block;
        float: left;
        height: 200px;
    }

    .bet-div-button > .fl, .bet-div-button > .fr {
        text-align: center;
        width: 100%;
        float: left;
        position: relative;
    }

    .bet-div-button > .fl > img {
        height: 50px;
        float: left;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;

    }

    .bet-div-button > .fl > span {
        width: 100%;
        float: left;
        padding-top: 50px;
        margin: 0;
    }

    .bet-div-button > .fr {
        margin-top: 30px;

    }

    .header-left {
        width: 190px;
    }

    .header-center {
        float: right;
        text-align: center;
        width: calc(100% - 170px - 80px);
        font-size: 0;
    }

    .header-right {
        width: 170px;
        position: absolute;
        right: 0;
    }

    .header-line {
        display: none;
    }

    .header-center > a {
        padding: 23px 23px 27px;
    }
}

@media ( max-width: 580px ) {
    .header-left {
        width: 100%;
    }

    .header-center {
        width: 100%;
    }

    .header-right {
        width: 140px;
    }

    .header-center > a {
        width: 25%;
    }

    .login {
        display: none;
    }
}