.big {
    font-size: 128px;
    padding: 0;
    margin: 0;
    line-break: 0;
}

.center-everything {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td {
    color: #d2d4d6;
    font-size: 16px;
}

td > a > svg {
    width: 20px;
    margin-left: 5px;
    fill: #FFB300;
    transform: scale(1);
    transition: .2s;
}

td > a > svg:hover {
    transform: scale(1.1);
}

td > a {
    text-decoration: none;
}

td > a:hover {
    text-decoration: none;
}

.table-links {
    text-align: right;
}

.b {
    font-weight: bold;
}

h1 {
    color: #FFB300;
}

h2 {
    color: #00AAFF;
}

h3, span, p {
    color: #d2d4d6;
}

.content {
    padding: 20px;
}

.code {
    font-family: monospace !important;
    color: rgba(255, 255, 255, .4);
    padding: 30px 40px;
    font-size: 16px;
    background: #172044;
    border: 1px solid rgba(255, 255, 255, .05);
    overflow: auto;
}

.mono {
    font-family: monospace !important; 
}

.profile-div {
    float: left;
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .2);
}

.profile-div > img {
    float: left;
    width: 50px;
    border-radius: 50%;
}

.profile-div > div, .profile-div > span {
    float: left;
    color: white;
    margin: 15px 20px;
    position: relative;
}

.profile-div > div > svg {
    height: 17px;
    position: absolute;
    left: 20px;
    top: 1px;
}

.profile-logout {
    margin-top: 20px;
    color: white;
    cursor: pointer;
}

.bg-demo2 {
    display:table;
    background: url('/assets/bg_demo.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 20px 20px #131b3d;
    padding: 20px 50px;
}

.disabled {
    cursor: not-allowed;
    opacity: .6;
}