.big {
    font-size: 128px;
    padding: 0;
    margin: 0;
    line-break: 0;
}

.center-everything {
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td {
    color: #d2d4d6;
    font-size: 16px;
}

td > a > svg {
    width: 20px;
    margin-left: 5px;
    fill: #FFB300;
    transform: scale(1);
    transition: .2s;
}

td > a > svg:hover {
    transform: scale(1.1);
}

td > a {
    text-decoration: none;
}

td > a:hover {
    text-decoration: none;
}

.table-links {
    text-align: right;
}

.b {
    font-weight: bold;
}

h1 {
    color: #FFB300;
}

h2 {
    color: #00AAFF;
}

h3, span, p {
    color: #d2d4d6;
}

.content {
    padding: 20px;
}

.code {
    font-family: monospace !important;
    color: rgba(255, 255, 255, .4);
    padding: 30px 40px;
    font-size: 16px;
    background: #172044;
    border: 1px solid rgba(255, 255, 255, .05);
    overflow: auto;
}

.mono {
    font-family: monospace !important; 
}