.main-content {
    width: 100%;
    height: calc(100vh - 65px);
    position: relative;
}

@media ( max-width: 580px ) {
    .main-content {
        height: calc(100vh - 190px);
    }
}

h1 {
    color: white;
    font-size: 62px;
}

h2 {
    color: white;
    font-size: 32px;
}

h3 {
    color: white;
}

p {
    font-size: 16px;
    color: white;
    opacity: .8;
}

.bg-demo {
    background: url('/assets/bg_demo.png');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 50px 50px #131b3d;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game {
    float: left;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    text-align: center;
    transition: .2s;
    width: 140px;
    padding: 5px;
    margin: 5px;
}

.game:hover {
    transform: scale(1.05);
}

.game > p {
    font-size: 12px;
    opacity: .7;
}

@media ( max-width: 620px ) {
    .game > p {
        display: none;
    }
    .game {
        width: 90px;
    }
    .game > img {
        width: 80px;
    }
    .game > h3 {
        font-size: 14px;
    }
}

button {
    position: relative;
    top: 0;
    border: 0;
    background: white;
    color: #1a2547;
    margin: 20px;
    font-weight: 800;
    padding: 10px 0;
    width: 170px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 5px rgba(255,255,255,.4);
}

button:hover {
    top: 5px;
    box-shadow: 0 0 rgba(255,255,255,.4);
}

button:active {
    transform: scale(1.05);
}